.alumni {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 655px;
    padding-top: 4rem;
    background-color: #f4f5f6;

    @include breakpoint-up(md) {
      height: 600px;
    }

    h3 {
      font-size: 14px;
      color: #0b162b99;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 1.5rem;

      @include breakpoint-up(md) {
        font-size: 16px;
      }
    }

    h2 {
      font-weight: 700;
      margin-bottom: 1.5rem;

      @include breakpoint-up(md) {
        font-size: 38px;
        margin-bottom: 3rem;
      }
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }

    span {
      font-size: 20px;
      width: 80%;
      margin-bottom: 1rem;
      line-height: 1.5rem;

      a {
        font-weight: 700;
        color: #333333;
      }

      @include breakpoint-up(md) {
        text-align: center;
        margin-bottom: 4rem;
        font-size: 22px;
      }
    }

    .rating_container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .course_report {
        font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 32px;
        letter-spacing: -2px;
        line-height: 1.5rem;
        margin-bottom: 1rem;

        a {
          color: #b4b6b9;
          transition: 0.5s;

          &:hover {
            color: #4c71a8;
          }
        }
      }

      .rating {
        display: flex;
        flex-direction: column;
        align-items: center;

        .star_rating {
          color: #e89a01;
          margin-bottom: 1rem;

          @include breakpoint-up(md) {
            margin-bottom: 0;
          }
        }

        .number_rating {
          h2 {
            font-family: "Montserrat", sans-serif;
            font-size: 24px;

            @include breakpoint-up(md) {
              margin-bottom: 0;
            }
          }
        }

        @include breakpoint-up(md) {
          align-items: flex-start;
          margin-left: 2rem;
        }
      }

      @include breakpoint-up(md) {
        flex-direction: row;
        align-items: flex-start;
      }
    }
  }

  &__cards {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 170vh;

    .card_container {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      top: -15rem;
      width: 100%;

      .custom-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        width: 93%;
        border-radius: 5px;
        box-shadow: 0px 12px 20px 0px #dfdfdfcc;
        margin-bottom: 2rem;

        img {
          width: 90%;
          height: 40%;
          margin-top: 1rem;
          margin-bottom: 1.5rem;

          @include breakpoint-up(md) {
            margin-top: 1.5rem;
          }
        }

        &-content {
          width: 90%;

          a {
            text-decoration: none;

            &:hover {
              text-decoration: none;
            }
          }

          h2 {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 1.5rem;

            a {
              color: #111111;
            }

            @include breakpoint-up(md) {
              font-size: 28px;
              font-weight: 400;
            }
          }

          h3 {
            font-family: "Montserrat", sans-serif;
            font-size: 15px;
            margin-bottom: 2rem;

            a {
              color: #999999;
            }

            @include breakpoint-up(md) {
              font-size: 18px;
            }
          }

          .star_rating {
            color: #e89a01;
            margin-bottom: 2rem;
          }

          h4 {
            font-family: "Montserrat", sans-serif;
            font-size: 15px;
            font-weight: 700;
            margin-bottom: 1.5rem;

            a {
              color: #0b162bcc;
            }

            @include breakpoint-up(md) {
              font-size: 18px;
            }
          }

          p {
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            line-height: 2rem;
            color: #71767e;

            @include breakpoint-up(md) {
              font-size: 16px;
            }
          }
        }

        @include breakpoint-up(md) {
          width: 45%;
          height: 830px;
        }
      }

      @include breakpoint-up(md) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 75%;
        top: -12rem;
      }
    }

    button {
      position: absolute;
      bottom: 3rem;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 700;
      color: #0b162b;
      padding: 0.8rem 1.8rem 0.8rem 1.8rem;

      @include breakpoint-up(md) {
        bottom: 3rem;
      }
    }

    @include breakpoint-up(md) {
      height: 127vh;
    }
  }
}
