$breakpoints-up: (
  "xxs": 376px,
  //small phone
  "xs": 425px,
  //phone
  "sm": 768px,
  //tablet
  "md": 1024px,
  //small laptop / tablet
  "lg": 1400px,
  //large laptop
);

$breakpoints-down: (
  "xxs": 375px,
  "xs": 424px,
  "sm": 767px,
  "md": 1023px,
  "lg": 1399px,
);

$mobile-up: (
  "xxs": 641px,
  "md": 800,
);

$mobile-down: (
  "xxs": 640px,
  "md": 799,
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

@mixin mobile-vertical-up($size) {
  @media (min-height: map-get($mobile-up, $size)) {
    @content;
  }
}

@mixin mobile-vertical-down($size) {
  @media (max-height: map-get($mobile-down, $size)) {
    @content;
  }
}
